.validator {
  position: fixed;
  z-index: 5000;
  width: 100vw;
  height: 100vh;
  background-color: #000000bb;
}

.validator .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 600px;
  background-color: var(--col1);
  transform: translate(-50%, -50%);
  padding: 50px;
  pointer-events: none;
}

.validator .popup::after {
  position: absolute;
  top: -15px;
  right: -15px;
  content: "X";
  background-color: var(--invalid);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: 10000;
  text-align: center;
  line-height: 40px;
  font-size: 20pt;
  cursor: var(--cur-pointer);
  pointer-events: all;
  nav-index: 0;
}

.validator .prompt {
  font-size: 16pt;
}

.validator .code {
  margin: 10px 0;
  padding: 5px;
  background-color: var(--col4a);
  height: fit-content;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 16pt;
  border-radius: 10px;
  border-bottom: 2px solid var(--col4);
  caret-color: var(--col4);
  pointer-events: all;
  max-height: min-content;
  white-space: nowrap;
  overflow: hidden;
}

.validator .validate {
  width: 100%;
  padding: 5px 0;
  font-size: 16pt;
  border-radius: 10px;
  pointer-events: none;
  cursor: var(--cur-pointer);
  background-color: var(--inactive);
  border: 2px solid var(--inactive-border-light);
  outline: none;
}

.validator .verify-email {
  margin-top: 20px;
}

.validator p:first-of-type {
  font-weight: bold;
}

.validator p {
  font-size: 15pt;
  margin: 5px 0;
  display: inline-block;
}

.validator .email-verification {
  margin: 10px 0;
  padding: 5px;
  background-color: var(--col4a);
  height: fit-content;
  width: 100%;
  text-indent: 20px;
  outline: none;
  font-size: 16pt;
  border-radius: 10px;
  border-bottom: 2px solid var(--col4);
  caret-color: var(--col4);
  display: block;
  pointer-events: all;
}

.validator .resend {
  width: 100%;
  padding: 3px 15px;
  border-radius: 8px;
  font-size: 15pt;
  background-color: var(--inactive);
  border: 2px solid var(--inactive-border-light);
  outline: none;
  pointer-events: none;
}

main.outer {
  display: flex;
  justify-content: center;
  padding: 50px;
  --font-sz: 15pt;
}

main.inner {
  width: 50vw;
  max-width: 1000px;
  min-width: 750px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dark main.inner * {
  color: var(--col1);
}

main.inner * {
  font-size: var(--font-sz);
}

main.inner h2 {
  font-size: 20pt;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside div {
  margin: 10px 0;
  font-weight: bold;
}

aside a {
  text-decoration: none;
  border-bottom: 1px solid var(--col2);
  color: var(--col2) !important;
  font-weight: normal;
  text-shadow: 0 0 1px var(--col5);
}

.dark aside a {
  border-bottom: 1px solid var(--col2);
}

aside a:visited {
  border-bottom: 1px solid var(--col4);
  color: var(--col4) !important;
}

aside a:hover,
aside a:focus {
  border-bottom: 1px solid var(--col3);
  color: var(--col3) !important;
  outline: none;
}

aside a:is(:hover, :focus) {
  border-bottom: 1px solid var(--col3);
  color: var(--col3) !important;
  outline: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2 {
  margin-bottom: 20px;
}

section form {
  width: 100%;
  max-width: 400px;
}

section .field {
  margin-bottom: 20px;
  position: relative;
}

main.inner section label {
  pointer-events: none;
  transition: all 0.5s ease;
  position: absolute;
  left: 20px;
  font-size: 12pt;
  top: 0;
}

section .input,
section .textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--col5);
  background-color: var(--col4a);
  cursor: var(--cur-text);
  border-radius: 10px 10px 5px 5px;
  caret-color: var(--col4);
}

section :is(.input, .textarea) {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--col5);
  background-color: var(--col4a);
  cursor: var(--cur-text);
  border-radius: 10px 10px 5px 5px;
  caret-color: var(--col4);
}

.dark section .input,
.dark section .textarea {
  border-color: var(--col4);
}

.dark section :is(.input, .textarea) {
  border-color: var(--col4);
}

[contenteditable]:hover,
[contenteditable]:focus {
  outline: none;
  border-bottom: 2px solid var(--col3) !important;
  background-color: var(--col4aa) !important;
}

[contenteditable]:is(:hover, :focus) {
  outline: none;
  border-bottom: 2px solid var(--col3) !important;
  background-color: var(--col4aa) !important;
}

section .textarea {
  min-height: 200px;
  padding: 20px;
}

section .input {
  padding: 20px 20px 5px;
}

main.inner section .textarea:empty + label,
main.inner section .input:empty + label {
  top: 14px;
  font-size: 20pt;
}

main.inner section :is(.textarea, .input):empty + label {
  top: 14px;
  font-size: 20pt;
}

main.inner section .textarea:empty:not(:focus) + label::after,
main.inner section .input:empty:not(:focus) + label::after {
  content: "";
}

main.inner section :is(.textarea, .input):empty:not(:focus) + label::after {
  content: "";
}

main.inner section .textarea:empty:focus + label::after,
main.inner section .input:empty:focus + label::after {
  content: ":";
}

main.inner section :is(label, :is(.textarea, .input):focus + label)::after {
  content: ":";
}

main.inner section .input:focus + label,
main.inner section .textarea:focus + label {
  top: 0;
  font-size: 12pt;
}

main.inner section :is(.input, .textarea):focus + label {
  top: 0;
  font-size: 12pt;
}

[contenteditable][data-valid="invalid"] {
  border-color: var(--invalid) !important;
}

[contenteditable][data-valid="valid"] {
  border-color: var(--valid) !important;
}

section .send {
  width: 100%;
  border-radius: 10px;
  pointer-events: none;
  cursor: var(--cur-pointer);
  background-color: var(--inactive);
  border: 2px solid var(--inactive-border-light);
  outline: none;
  padding: 5px 0;
}

.dark section .send {
  border: 2px solid var(--inactive-border-dark);
}

.btn-cover {
  cursor: var(--cur-red-unavailable);
  pointer-events: all;
}

button[data-valid="invalid"] {
  background-color: var(--invalid-btn) !important;
}

button[data-valid="valid"] {
  background-color: var(--valid-btn) !important;
  pointer-events: all !important;
}

button[data-valid="valid"]:hover,
button[data-valid="valid"]:focus {
  filter: brightness(1.3) !important;
}

button[data-valid="valid"]:is(:hover, :focus) {
  filter: brightness(1.3) !important;
}

@media only screen and (max-width: 800px) {
  main.inner {
    grid-template-columns: 1fr;
    min-width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  main.outer {
    padding: 20px;
  }
}
