footer {
  background-color: var(--col4);
  padding: 20px;
  display: flex;
  justify-content: center;
  cursor: var(--cur-green-default);
}

footer .container {
  display: flex;
}

footer .container div {
  font-size: 15pt;
}

footer .copy {
  display: flex;
  flex-wrap: wrap;
}

footer .copy span {
  padding: 0 5px;
  display: inline-block;
}

footer ul {
  width: max-content;
  display: flex;
  padding-left: 100px;
}

footer ul a {
  padding: 0 10px;
  margin: 0 10px;
  list-style: none;
  text-decoration: none;
  cursor: var(--cur-green-pointer);
  border-bottom: 2px solid transparent;
}

footer ul a:hover,
footer ul a:focus {
  outline: none;
  border-bottom: 2px solid var(--col1);
}

footer ul a:is(:hover, :focus) {
  outline: none;
  border-bottom: 2px solid var(--col1);
}

footer ul a:is(:hover, :focus) li {
  color: var(--col1);
}

@media only screen and (max-width: 800px) {
  footer {
    padding: 20px 0;
  }

  footer .container {
    flex-direction: column-reverse;
  }

  footer div,
  footer ul,
  footer .container div {
    width: 100%;
    min-width: unset;
    justify-content: center;
    padding: 0;
  }

  footer :is(div, ul, .container div) {
    width: 100%;
    min-width: unset;
    justify-content: center;
    padding: 0;
  }
}
