.svg-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  width: fit-content;
  margin: 100px auto;
  transform: scale(1.5);
}

.logo {
  display: flex;
}

.rect {
  height: 25px;
  width: 70px;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
}

.blue > * {
  background-color: var(--col4);
  margin: 10px 5px;
}

.green > * {
  margin: -10px 5px 20px;
}

.blue * {
  background-color: var(--col4);
}

.green * {
  background-color: var(--col2);
}

.inner {
  height: 12px;
  width: 57px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--col1);
  z-index: 100;
}

.dark .inner {
  background-color: var(--col5);
}

.burst {
  position: absolute;
}

.transparent {
  background-color: transparent !important;
}

.overflow-visible {
  overflow: visible !important;
}

.svg-logo span {
  display: inline-block;
}

.svg-logo h1 {
  font-size: 25pt;
  margin-bottom: 20px;
}

.dark .svg-logo h1 span {
  color: var(--col1);
}

.svg-logo h3 {
  font-size: 12pt;
}

.svg-logo h3 span {
  color: var(--col3);
}

.svg-logo .cta {
  position: relative;
  padding: 10px 30px;
  display: block;
  margin: 20px auto;
  background-color: var(--col2);
  z-index: 20;
  font-size: 15pt;
  border-radius: 20px;
  border: 2px solid var(--col6);
  outline: none;
  transition: all 0.3s ease;
}

.dark .svg-logo .cta {
  border-color: var(--col4);
}

.svg-logo .cta:hover,
.svg-logo .cta:focus {
  filter: brightness(1.3);
  border: 2px solid var(--col3);
}

.svg-logo .cta:is(:hover, :focus) {
  filter: brightness(1.3);
  border: 2px solid var(--col3);
}

@media only screen and (max-width: 400px) {
  .svg-logo {
    transform: scale(1);
  }
}

@media only screen and (max-width: 330px) {
  .svg-logo {
    padding: 0;
    transform: scale(0.8);
  }
}