@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:wght@400;700&display=swap");

:root {
  --col1: #f7fff6;
  --col1a: #f7fff688;
  --col2: #87d68d;
  --col2a: #87d68d88;
  --col3: #f75590;
  --col3a: #f7559088;
  --col3aa: #f7559025;
  --col4: #007bfe;
  --col4a: #007bfe25;
  --col4aa: #007bfe66;
  --col5: #424242;
  --col6: #170312;
  --invalid: #f43207;
  --valid: #00c200;
  --invalid-btn: #f4330777;
  --valid-btn: #00c20088;
  --inactive: #77777788;
  --inactive-border-dark: #b6b6b688;
  --inactive-border-light: #57575788;
  --mono: "Roboto Mono", monospace;
  --sans: "Cantarell", sans-serif;
  --cur-default: URL(/images/cursors/cur-default.cur), default;
  --cur-pointer: URL(http://www.rw-designer.com/cursor-extern.php?id=139799), pointer;
  --cur-text: URL(/images/cursors/cur-text.cur), text;
  --cur-unavailable: URL(/images/cursors/cur-unavailable.cur), not-allowed;
  --cur-green-default: URL(/images/cursors/cur-green-default.cur), default;
  --cur-green-pointer: URL(/images/cursors/cur-green-pointer.cur), pointer;
  --cur-green-text: URL(/images/cursors/cur-green-text.cur), text;
  --cur-green-unavailable: URL(/images/cursors/cur-green-unavailable.cur), not-allowed;
  --cur-red-unavailable: URL(/images/cursors/cur-red-unavailable.cur), not-allowed;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--sans);
  color: var(--col6);
}

html {
  background-color: var(--col1);
  cursor: var(--cur-default);
}

html.dark {
  background-color: var(--col5);
}

body {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

:is(a, button) {
  cursor: var(--cur-pointer);
}

input {
  cursor: var(--cur-text);
}

.hidden {
  display: none !important;
}

.flip {
  transform: rotateX(360deg);
  transition: all 0.5s ease-in;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.highlight {
  color: var(--col3) !important;
  transition: color 0.1s ease;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
